/*desendent selector
 div p{ 
    background-color: yellowgreen;
 }*/

 /* child selector
 div>p{
    background-color: yellowgreen;
 } */
 /* Adjesent sibling selector
 div+p{
    background-color: yellowgreen;
 }
 p+p{
    background-color: blue;
 } */
 /* General sibling selector(~)
 div~p{
    background-color: blue;
 } */


 /* practice */
/* main section{
    background-color: blueviolet;
 } */
 /* main>p{
    background-color: beige;
 } */
 /* section+p{
    background-color: aqua;
 } */
 /*main~p{
    background-color: red;
 }  */



 