/* 1.anchor pseudo classes */
/* a:link{
    color: aqua;
}
a:visited{
    color: brown;
}
a:active{
    color: yellow;
} */


/* a:hover{
    font-size: large;
} */



/* p{
    border: 1px solid black;
    display: inline;
}
span{
    border: 1px solid black;
     display: block; 
} */


/* button:hover+p{
    display: block;
  color: red;
}
p{
    display: none;
} */

/* button:hover+.container{
    display: block;
  
}
.container{
    border: 1px solid black;
    display: none;
    height: 100vh;
    background-color: red;
} */

/* #image{
    text-align: center;
    padding: 100px;
}
.list{
    opacity: 0.1;
}
img:hover{
    opacity: 1.0;
} */



/*  2.ui element pseudo classes */

/* enabled */
/* input:enabled{
    background-color: yellow;
} */
/* disabled */
/* input:disabled{
    background-color: rgb(14, 255, 110);
} */
/* autofocus */
/* input:focus{
    background-color: rgb(8, 0, 255);
} */
/* input:read-only{
    background-color: yellow;
} */
/* input:read-write{
    background-color: yellow;
} */
/* input:required{
    background-color: yellow;
} */



/* 3.structured pseudo classes */
/* using child */
/* div>p:first-child{
    background-color: aqua;
}*/
/*div>p:last-child{
    background-color: aqua;
} */

/* div>p:nth-child(even){
    background-color: aqua;
} */

/* div>p:nth-child(odd){
    background-color: aqua;
} */
/* div>p:nth-child(4n-2){
    background-color: aqua;
} */
/* div>p:nth-child(4n-1){
    background-color: aqua;
} */

/* using type */
/* div>i:first-of-type{
    background-color: aqua;
}
div>i:nth-of-type(2){
    background-color: rgb(206, 189, 2);
}
div>i:last-of-type{
    background-color: aqua;
} */