/* p{
    background-color: red;
} */

/* universal selector
*{
    background-color: red;
    border: 1px solid black;
} */

/* grouping selector
#item4,#art1,.class
{
    background-color: aqua;
} */