#maindiv{
    border: 15px dashed black;
    background-image: url(https://cdn.pixabay.com/photo/2024/01/03/07/10/humpback-whale-8484783_640.jpg),url(https://cdn.pixabay.com/photo/2023/11/02/16/49/cat-8361048_1280.jpg),url(https://cdn.pixabay.com/photo/2023/12/22/09/46/cotton-top-tamarin-8463471_1280.jpg);
    height: 100vh;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: top left,center,bottom right;
    background-size: 200px,400px,200px;
    background-attachment: fixed,fixed,fixed;
    text-align: center;
}

h1{
color: black;
text-align: center;

}
h1::before{
    content: "****";
    color: yellow;
    
}
h1::after{
    content: "****";
    color: yellow;

}